services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: taskmanagement-backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    environment:
      - REDIS_URL=redis://redis:6379
    restart: unless-stopped
    networks:
      - taskmanagement-network
    depends_on:
      - redis

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - NODE_ENV=production
        - REACT_APP_API_URL=http://backend:5000
    container_name: taskmanagement-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: unless-stopped
    networks:
      - taskmanagement-network

  redis:
    image: redis:alpine
    container_name: redis
    restart: unless-stopped
    networks:
      - taskmanagement-network
    volumes:
      - redis_data:/data

volumes:
  redis_data:

networks:
  taskmanagement-network:
    driver: bridge