version: "3.8"

services:
  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    container_name: taskmanagement-backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    environment:
      - REDIS_URL=redis://redis:6379
      - MONGO_URI=mongodb+srv://yashchauhan6660_db_user:Hanuamn123@cluster0.beu6lyv.mongodb.net/?appName=Cluster0
      - SECRET_key=Hanuamn12345
    restart: unless-stopped
    networks:
      - taskmanagement-network
    healthcheck:
      test: ["CMD", "node", "healthcheck.js"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    depends_on:
      - redis
      - mongo

  frontend:
    build: 
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - NODE_ENV=production
    container_name: taskmanagement-frontend
    ports:
      - "80:80"
    depends_on:
      backend:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - taskmanagement-network

  redis:
    image: redis:alpine
    container_name: taskmanagement-redis
    restart: unless-stopped
    networks:
      - taskmanagement-network
    volumes:
      - redis_data:/data

  mongo:
    image: mongo:6
    container_name: taskmanagement-mongo
    restart: unless-stopped
    networks:
      - taskmanagement-network
    volumes:
      - mongo_data:/data/db

volumes:
  redis_data:
  mongo_data:

networks:
  taskmanagement-network:
    driver: bridge
