version: "3.8"

services:
  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    container_name: taskmanagement-backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    environment:
       - REDIS_URL=${REDIS_URL}
       - MONGO_URI=${MONGO_URI}
       - SECRET_key=${SECRET_key}
    restart: unless-stopped
    depends_on:
      - redis
    networks:
      - taskmanagement-network
    healthcheck:
      test: ["CMD", "node", "healthcheck.js"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

  frontend:
    build: 
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - NODE_ENV=production
    container_name: taskmanagement-frontend
    ports:
      - "80:80"
    depends_on:
      backend:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - taskmanagement-network

  redis:
    image: redis:7
    container_name: taskmanagement-redis
    ports:
      - "6379:6379"
    restart: unless-stopped
    networks:
      - taskmanagement-network

networks:
  taskmanagement-network:
    driver: bridge
