name: Build → Test → Push → Deploy (Frontend + Backend)

on:
  push:
    branches: [ "main" ]

jobs:

 frontend:
  runs-on: ubuntu-latest

  steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-node@v4
      with:
        node-version: 18

    - name: Install Frontend deps
      working-directory: ./frontend
      run: npm install

    - name: Build Frontend
      working-directory: ./frontend
      run: npm run build

    - name: Test Frontend
      working-directory: ./frontend
      run: npm test --if-present

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_ACCESSTOKEN }}

    - name: Build & Push Frontend
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/my-frontend:latest ./frontend
        docker push ${{ secrets.DOCKER_USERNAME }}/my-frontend:latest

# ================= BACKEND =================
 backend:
  runs-on: ubuntu-latest
  needs: frontend

  steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-node@v4
      with:
        node-version: 18

    - name: Install Backend deps
      working-directory: ./backend
      run: npm install

    - name: Test Backend
      working-directory: ./backend
      run: npm test --if-present

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_ACCESSTOKEN }}

    - name: Build & Push Backend
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/my-backend:latest ./backend
        docker push ${{ secrets.DOCKER_USERNAME }}/my-backend:latest

# ================= DEPLOY TO AWS =================
 deploy:
  runs-on: ubuntu-latest
  needs: backend

  steps:
    - name: Deploy to EC2
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          # Pull latest images
          docker pull ${{ secrets.DOCKER_USERNAME }}/my-backend:latest
          docker pull ${{ secrets.DOCKER_USERNAME }}/my-frontend:latest

          # Stop & remove old containers
          docker stop my-backend || true
          docker rm my-backend || true
          docker stop my-frontend || true
          docker rm my-frontend || true

          # Run backend with environment variables from GitHub secrets
          docker run -d \
            --name my-backend \
            -p 5000:5000 \
            -e REDIS_URL="${{ secrets.REDIS_URL }}" \
            -e MONGO_URI="${{ secrets.MONGO_URL }}" \
            ${{ secrets.DOCKER_USERNAME }}/my-backend:latest

          # Run frontend
          docker run -d \
            --name my-frontend \
            -p 3000:3000 \
            --link my-backend:backend \
            ${{ secrets.DOCKER_USERNAME }}/my-frontend:latest


