name: Deploy to AWS Elastic Beanstalk

on:
  push:
    branches:
      - main  # jab bhi main branch pe push ho

jobs:
  deploy:
    name: Build & Deploy
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: "18"

    - name: Install dependencies
      working-directory: ./backend
      run: npm install

    - name: Build project
      working-directory: ./backend
      run: |
        npm run build || echo "No build step"

    - name: Zip backend
      run: |
        cd backend
        zip -r ../app.zip .

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Deploy to Elastic Beanstalk
      run: |
        aws elasticbeanstalk create-application-version \
          --application-name ${{ secrets.EB_APPLICATION_NAME }} \
          --version-label github-${{ github.run_id }} \
          --source-bundle S3Bucket="elasticbeanstalk-${{ secrets.AWS_REGION }}-${{ secrets.AWS_ACCOUNT_ID }}",S3Key="app.zip"

        aws elasticbeanstalk update-environment \
          --application-name ${{ secrets.EB_APPLICATION_NAME }} \
          --environment-name ${{ secrets.EB_ENVIRONMENT_NAME }} \
          --version-label github-${{ github.run_id }}
