name: Node.js CI

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js 18
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: npm

      - run: npm install

      - name: Create .env file
        run: |
          New-Item -ItemType File -Path .env -Force
          echo "${{ secrets.ENV_FILE }}" | Out-File .env -Encoding utf8

    
   
